@model Vera.Domain.Entity.Material

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <h2>Детали</h2>

    <div>
        <hr />
        <h4>Материал</h4>
        <dl class="dl-horizontal">
            <dt>
                Наименование
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Стоимость за ед.
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price.Cost)
            </dd>

            <dt>
                Валюта
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price.Currency.Name)
            </dd>
            @if (Model.Format != null && Model.SheetsPerPackage != null)
            {
                <dt>
                    Формат
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Format.Name)
                </dd>
                <dt>
                    Кол-во листов в упаковке
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SheetsPerPackage)
                </dd>
            }
            <dt>
                Остаток
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Вернуться к списку", "Index")
    </p>    
</div>
