@model Vera.Domain.Entity.Material

@{
    ViewBag.Title = "Income";
}

<h2>Приход материала</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Balance)
        @Html.HiddenFor(model => model.Price.Id)
        @Html.HiddenFor(model => model.Type.Id)
        @Html.HiddenFor(model => model.Type.TypeName)
        @Html.HiddenFor(model => model.Price.Cost)
        @Html.HiddenFor(model => model.Price.Currency.Id)
        @Html.HiddenFor(model => model.Price.Currency.Name)
        @Html.HiddenFor(model => model.Price.Currency.Rate)
        @Html.HiddenFor(model => model.SheetsPerPackage)


        <div class="form-group">
            @Html.Label("Материал", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Model.Name
            </div>
        </div>
        @if (Model.Format != null && Model.SheetsPerPackage != null)
        {
            <div class="form-group">
                @Html.Label("Формат", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
                <div class="col-xs-4">
                    @Model.Format.Name
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Кол-во л/уп", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
                <div class="col-xs-4">
                    @Model.SheetsPerPackage.Value
                </div>
            </div>
        }
        <div class="form-group">
            @Html.Label("Пришло", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Html.Editor("dBalance", new { htmlAttributes = new { @class = "form-control", value = "0", autocomplete = "off", required = "required", placeholder = "Объём" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Сумма", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Html.Editor("newCost", new { htmlAttributes = new { @class = "form-control", value = "0", autocomplete = "off", placeholder="Стоимость пришедшего объёма с наценкой" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Валюта", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Model.Price.Currency.Name
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9 col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Оформить приход</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
