@model IEnumerable<Vera.Domain.Entity.Material>

@{
    ViewBag.Title = "Inventory";
}

<div class="container-fluid">
    <h2>Склад</h2>

    <p>
        @Html.ActionLink("Добавить новый материал", "Create")
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Наименование")
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th class="hidden-xs">
                @Html.DisplayName("Стоимость")
            </th>
            <th class="hidden-xs">
                @Html.DisplayName("Валюта")
            </th>
            <th>
                @Html.DisplayName("Тип материала")
            </th>
            <th>
                @Html.DisplayName("Остаток")
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr @if (@item.Balance > 1 && @item.Balance < 5)
                {
                    @: class="warning"
                }
                else
                {
                    if (item.Balance <= 1)
                    {
                        @: class="danger"
                    }
                }>
                
                <td>
                    @{
                        var name = item.Name;
                        if (item.Format != null && item.SheetsPerPackage != null)
                        {
                            name += " " + item.Format.Name + " (" + item.SheetsPerPackage.Value + " листов)";
                        }
                    }
                    @Html.ActionLink(name, "Details", new { id = item.Id })
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Price.Cost)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.Price.Currency.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.ActionLink("Приход", "Income", new {id = item.Id}) 
                </td>
                <td>
                    @Html.ActionLink("Расход", "Expense", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
