@using System.Data.SqlClient
@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
</head>
<body>

<div style="margin: 0 auto; width: 600px; border: 1px solid gainsboro; text-align: center;">
    <h1>Формат</h1>
    @Html.DropDownList("Format", "--Выберите формат--")<Br/>
    <p id="price"></p><br/>

    @Html.DropDownList("FormingType", "--Выберите тип формировки блока--")
    <div id="formingTypeBlock"></div>

    <p>Итого: </p>
    <span id="totalPrice"></span>
</div>

    
<script type="text/javascript">
    $(function () {
        $('#Format').change(function () {
            // получаем выбранный id
            var id = $(this).val();
            console.log(id);    // -
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetGluePrice")/' + id,
                success: function (data) {
                    console.log(data);
                    $('#price').text(data);// заменяем содержимое присланным частичным представлением
                    console.log($('#price').val());
                }
            });
        });
    });

    $(function() {
        $('#FormingType').change(function() {
            var id = $(this).val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("FormingType")/' + id,
                success: function(data) {
                    $('#formingTypeBlock').replaceWith(data); // заменяем содержимое присланным частичным представлением
                }
            });
        });
    });

    
</script>

</body>
</html>