@{
    ViewBag.Title = "Vera - калькулятор дял типографии";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/calculator.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class=" row" style="margin-right: -30px; margin-left: 0px; margin-bottom: 30px;">
        @*<div class="col-xs-3">
                <div class="container-fluid">
                    <h2>Изделия</h2>
                </div>
            </div>*@
        @*<div class="col-xs-6" style="border: 1px solid gainsboro; ">*@
        <div class="col-xs-6" style="border: 1px solid gainsboro; ">
            <div class="row" style="margin: 0 auto; text-align: center;">
                <h2>Расчет изделия</h2>
                <hr />

                <div class="input-group myInputGroup">
                    <span class="input-group-addon myInputGroupSpan" id="basic-addon1">Формат</span>
                    @Html.DropDownList("Format", Model.Format as SelectList, "Выберите формат", new { @class = "form-control" })<br />
                </div>
                <hr />

                <h3>Блок</h3>
                <div class="input-group myInputGroup">
                    <span class="input-group-addon myInputGroupSpan" id="basic-addon2">Тип формировки блока</span>
                    @Html.DropDownList("FormingType", Model.FormingType as SelectList, "Выберите тип формировки блока", new { @class = "form-control" })<br />
                </div>
                <div id="formingTypeBlock"></div>
                <hr />

                <h3>Обложка</h3>
                <div id="cover">                 
                    @Html.Partial("_HardCoverPartial")<br/>
                    @*@Html.Partial("_PrintedCoverPartial")*@
                </div>

                @*<div class="checkbox">
                    <label>
                        <input type="checkbox" id="decorativeStitchingCheckbox" value="Декоративная строчка">
                        Декоративная строчка
                    </label>
                </div>*@
                <hr />
                
                <div class="input-group myInputGroup">
                    <span class="input-group-addon myInputGroupSpan" id="basic-addon3">Тираж изделия</span>
                    <input type="text" class="form-control" id="editionCirculation" aria-describedby="basic-addon3"
                           autocomplete="off"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                           value="1">
                </div> <br>
                <div class="input-group myInputGroup">
                    <span class="input-group-addon myInputGroupSpan" id="basic-addon4">Коэффициент сложности</span>
                    <input type="text" class="form-control" id="coefficientOfСomplexity" aria-describedby="basic-addon4"
                           autocomplete="off"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46'
                           value="1.00">
                </div>
                <br/>
                <button class="btn btn-primary btn-lg btn-block" id="calculateButton">Пересчитать стоимость тиража</button>
                <br />
            </div>
        </div>
        @*<div class="col-xs-3">*@
        <div class="col-xs-6">
            <div class="container-fluid">
                <h2>Цены</h2>
                @Html.Partial("_PriceDetailsPartial")
                @Html.Partial("_ResultPartial")
            </div>
        </div>
    </div>    
</div>
</body>
</html>