@*@model Vera.Domain.Entity.Job*@
@model Vera.Models.JobViewModel

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Работа</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Название", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", required="required", autocomplete="off" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@Html.NameFor(model => model.Cost).ToHtmlString(), htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@Html.NameFor(model => model.CurrencyName).ToHtmlString(), htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Model.CurrencyName
                @*@Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@Html.NameFor(model => model.Dependencies).ToHtmlString(), htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
            <div class="col-xs-4">
                @Html.DropDownListFor(model => model.DependencyId, Model.Dependencies, "Выберите зависимость", new { @class = "form-control" })
                @*@Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-xs-offset-3 col-md-10">
                <input type="submit" value="Применить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
